.wrapper {
  /* margin: 100px 100px auto; */
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center; /* centers child horizontally */
  align-items: center;
  /* border: 1px solid #000; */
  box-sizing: border-box;
}

.perspectveWrapper {
  height: 100%;
}

.backgroundWrapper {
  background-color: white;
  height: 100%;
}

.rangeWrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  margin: 30px;
  border: 1px solid lightgray;
  background-color: white;
}
