.wrapper {
  /* margin: 100px 100px auto; */
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center; /* centers child horizontally */
  align-items: center;
  /* border: 1px solid #000; */
  box-sizing: border-box;
}

.perspectveWrapper {
  height: 100%;
}

.backgroundWrapper {
  background-color: white;
  height: 100%;
}
