.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  height: 100%;
  /* box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3); */
  border: 1px solid #ddd;
  border-radius: 20px;

  padding: 10px;
}

.content {
  flex-grow: 1;
}

.buttonWrapper {
  margin: 10px;
}

.button {
  cursor: pointer;
  width: 100%;
}
