.wrapper {
}

.wrapperBlocked {
  overflow: hidden;
  position: relative;
  height: min(100px, 100dwh);
}

.buttonWrapper {
  border: 0;
  background-color: transparent;
}

.itemWrapper {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.itemWrapper + .itemWrapper {
  margin-top: 10px;
}

.deleteButton {
  width: 40px;
  height: 40px;
}
