html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
ul,
li {
  margin: 0;
}

#__next {
  height: 100%;
}

:root {
  --deflation-x: 0px;
  --negative-deflation-x: 0px;
  --deflation-y: 0px;
  --negative-deflation-y: 0px;
}
